.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  height: 100vh;
  flex-direction: column;
  background-color: #e0e8ff;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-img {
  display: inline-block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

span,
h1 {
  display: inline-block;
}

.order-summary-container {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.3rem;
  padding: 2rem;
  background-color: #ffffff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
}

.heading-primary {
  font-weight: 1000;
  color: #1f2f56;
  font-size: 2.8rem;
  margin: 2.4rem 3.2rem;
}

.heading-secondary {
  font-weight: 900;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

.text-info {
  text-align: center;
  color: #7280a7;
  margin: 3.2rem;
  margin-top: 0;
  /* margin-bottom: 3.2rem; */
  line-height: 1.5;
}

/* grid display for the annual plan section */
.annual-plan-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #f5f7ff;
  padding: 2.4rem 0rem;
  border-radius: 15px;
  margin: 0 2.4rem;
  margin-bottom: 3.2rem;
  transition: all 0.3s;
}

.icon {
  justify-self: center;
  display: inline-block;
  margin-left: 2.4rem;
}

.annual-plan-text {
  list-style: none;
  align-self: center;
  color: #1f2f56;
  grid-column: span 3;
  margin-left: 1.6rem;
}

.annual-plan-text li:last-child {
  color: #7280a7;
}

.change {
  display: block;
  grid-column: 5 / -1;
  align-self: center;
  justify-self: center;
  text-decoration: underline;
  color: #3829e0;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 2.4rem;
}

.change:hover {
  cursor: pointer;
  color: #4635ff;
}

/* =-================= */

.btn {
  display: inline-block;
  background-color: #3829e0;
  color: #ffffff;
  border: none;
  padding: 1.6rem 0;
  width: 36.1rem;
  border-radius: 15px;
  transition: all 0.3s;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  margin-bottom: 3.2rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #4635ff;
}

.cancel-order {
  font-weight: 900;
  font-size: 1.6rem;
  color: #7280a7;
  margin-bottom: 3.2rem;
}
